version: 2.1

executors:
  docker-executor:
    docker:
      - image: 218546966473.dkr.ecr.us-east-1.amazonaws.com/circle-ci:stitch-tap-tester-uv

jobs:
  build:
    executor: docker-executor
    steps:
      - checkout
      - run:
          name: 'Setup'
          command: |
            uv venv --python 3.9 /usr/local/share/virtualenvs/tap-braintree
            source /usr/local/share/virtualenvs/tap-braintree/bin/activate
            uv pip install -U 'pip<19.2' setuptools
            uv pip install .[dev]
      - run:
          name: 'Pylint'
          command: |
            source /usr/local/share/virtualenvs/tap-braintree/bin/activate
            pylint tap_braintree -d C,R,W
      - run:
          name: 'JSON Validator'
          command: |
            source /usr/local/share/virtualenvs/tap-braintree/bin/activate
            stitch-validate-json tap_braintree/schemas/*.json
      - run:
          name: 'Unit Tests'
          command: |
            source /usr/local/share/virtualenvs/tap-braintree/bin/activate
            uv pip install pytest
            pytest tests/unittests
workflows:
  version: 2
  commit:
    jobs:
      - build:
          context: circleci-user
